@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap');
body{
    font-family: 'Source Code Pro', 'monospace';
    background-image: url('dark.jpg');
    background-size: 1600px 900px;
} 

.app-header{
    background-color: transparent; //تعني شفافة
    
    .app-navbar{
        .app-navbar-menu{
            
            li{
                a{
                    color: rgb(255, 255, 255);
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.849);
                    opacity: 0.5;
                    font-weight: 400;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        height: 3px;
                        background-color: rgb(219, 207, 28);
                        bottom: 0;
                        left: 0;
                        right: 100%;
                        transition: all 0.3s;
                    }
                    &:hover{
                        opacity: 1;
                        &::after{
                            right: 20%;
                            transition: all 0.3s;
                        }
                    }
                  
                }
                &.active{
                    a{
                        font-weight: 600;
                        opacity: 1;
                        &::after{
                            right: 20%;
                            left: 20%;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }

        
    }
}

